.filter-container {
  background: white;
  padding: 12px 12px 20px 12px;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
  box-sizing: border-box;
}

.filter-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-end;
  margin-bottom: -8px;
}

.filter-select {
  flex: 1 1 200px;
  min-width: 200px;

  // ::ng-deep {
  //   .mat-mdc-form-field {
  //     width: 100%;
  //     font-size: 14px;
  //     line-height: 1;

  //     .mat-mdc-form-field-wrapper {
  //       padding-bottom: 0 !important;
  //       margin-bottom: 0 !important;
  //     }

  //     .mat-mdc-form-field-subscript-wrapper {
  //       display: none !important;
  //       height: 0 !important;
  //       min-height: 0 !important;
  //       margin: 0 !important;
  //       padding: 0 !important;
  //     }

  //     // ปรับ outline field
  //     .mdc-text-field--outlined {
  //       height: 48px;

  //       .mdc-floating-label {
  //         top: 50%;
  //         transform: translateY(-50%);
  //       }
  //     }

  //     // ปรับ infix
  //     .mat-mdc-form-field-infix {
  //       min-height: 48px;
  //       padding: 12px 0 12px 0;
  //       border: none;
  //     }
  //   }
  // }
}

.clear-button-wrapper {
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
  min-width: fit-content;
  margin-bottom: 0;
}

.clear-filter-btn {
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}

::ng-deep {
  .filter-container {
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }

    .mat-mdc-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
}
