<div class="login-container">
  <div class="login-content">
    <!-- Left Column: Form -->
    <div class="login-form-section">

      <div class="header-text">
        <p class="title">ระบบวางเเผนเส้นทางจัดการขยะ</p>
        <p class="subtitle">เข้าสู่ระบบด้วยอีเมล และรหัสผ่าน</p>
      </div>


      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <mat-form-field appearance="outline" class="input-group scale-down-4">
            <mat-label>อีเมล</mat-label>
            <input matInput id="email" type="email" formControlName="email" placeholder="example-pll@mail.com" />
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <mat-error>กรุณาใส่อีเมลที่ถูกต้อง</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-group scale-down-4">
            <mat-label>รหัสผ่าน</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password"
              autocomplete="current-password" />
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <mat-error>กรุณาใส่รหัสผ่าน</mat-error>
            }
          </mat-form-field>
          <a href="#" class="forgot-password">ลืมรหัสผ่าน</a>
        </div>

        <button mat-flat-button type="submit" [disabled]="!loginForm.valid || loading" class="w-100 mt-3">
          @if (!loading) {
          <span>เข้าสู่ระบบ</span>
          } @if (loading) {
          <span>กำลังเข้าสู่ระบบ...</span>
          }
        </button>

        @if (errorMessage) {
        <div class="error-box">{{ errorMessage }}</div>
        }

        <!-- <div class="divider">
          <span>หรือ</span>
        </div>

        <button mat-flat-button color="primary" type="button" class="w-100">ลงทะเบียนบัญชี</button> -->
      </form>
    </div>

    <div class="login-illustration">
      <div class="illustration-content">
        <img src="image/right_login_icon.svg" alt="Login Illustration">
      </div>
    </div>
  </div>
</div>