<mat-toolbar class="navbar-toolbar">
  <span class="brand-text" (click)="navigateToHome()"> Waste Route </span>

  <div class="nav-links">
    <button mat-button [routerLink]="['/daily-route']">
      <mat-icon>route</mat-icon>
      เส้นทางวันนี้
    </button>
    <button mat-button [routerLink]="['/staff']">รายชื่อพนักงาน</button>
    <button mat-button [routerLink]="['/vehicle']">รถเก็บขยะ</button>
    <button mat-button [routerLink]="['/collection-point']">จุดเก็บขยะ</button>
    <button mat-button [routerLink]="['/requests']">คำร้องเรียน</button>
    <button mat-button disabled>Dashboard</button>
  </div>

  <span class="spacer"></span>

  @if (userData(); as user) {
  <div [matMenuTriggerFor]="menu" class="user-profile">
    @if (user.picture) {
    <img [src]="user.picture" alt="Profile" class="profile-image" />
    } @else {
    <mat-icon class="profile-icon">account_circle</mat-icon>
    }
    <span class="profile-name">{{ user.firstname }} {{ user.lastname }}</span>
  </div>
  } @else {
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  }

  <mat-menu #menu="matMenu">
    <button mat-menu-item>โปรไฟล์</button>
    <button mat-menu-item (click)="logout()">ออกจากระบบ</button>
  </mat-menu>
</mat-toolbar>
