<mat-toolbar
  color="primary"
  class="!px-4"
  style="background-color: #2d7a2e; color: #ffffff"
>
  <span class="font-semibold tracking-wide">Waste Route</span>
  <span class="flex-1"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Open menu"
    style="width: 48px; height: 48px; margin-left: auto; color: #ffffff"
  >
    <mat-icon style="font-size: 32px; width: 32px; height: 32px"
      >account_circle</mat-icon
    >
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>โปรไฟล์</button>
    <button mat-menu-item (click)="logout()">ออกจากระบบ</button>
  </mat-menu>
</mat-toolbar>
